.formContainer {
    width: 100%;
    max-width: 48rem;
    margin: 0 auto 2rem auto;
}

.formContainer input,
.formContainer select {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
}

.submitButton {
    background-color: hsl(219, 54%, 29%);
    border: 2px solid hsl(219, 78%, 11%);
    color: white;
    font-size: 1.5rem;
    padding: 0.75rem;
    border-radius: 3px;
    cursor: pointer;
    letter-spacing: 3pt;
    width: 100%;
}

.submitButton:disabled {
    opacity: 60%;
    cursor: not-allowed;
}

.inputGroup {
    width: 100%;
    margin-bottom: 0.75rem;
}

.label {
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
}